<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <link rel="shortcut icon" href="../assets/youtube.ico">
  <link rel="stylesheet" href="../CSS/details.css">
    <title>Detalles</title>
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <figure class="header__figure">
                <a href="/index.html">
                    <img src="../assets/youtubeMO.png" alt="Logo Youtube">
                </a>
            </figure>

            <ul class="header__list">
                <li>
                    <a href="../template/create.html"><img src="../assets/add.svg" alt=""></a>
                </li>
                <li>
                    <a href="">test</a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <h1 id="title">Pagina de Detalles</h1>
        <article id="information"></article>
    </main>

    <script src="../JS/details.js" type="module"></script>
</body>
</html>