
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="shortcut icon" href="../assets/youtube.ico">
    <link rel="stylesheet" href="../CSS/normalice.css">
    <link rel="stylesheet" href="../CSS/videoForm.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <title>Agregar Nuevo video</title>
    
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <figure class="header__figure">
                <a href="/index.html">
                    <img src="../assets/youtube.png" alt="Logo Youtube">
                </a>
            </figure>
        </nav>
    </header>

    <main>
        <form id="form">
            <h2 class="form__title">Agregar video</h2>
            
            <label class="form__label" for="name">Nombre</label>
            <input class="form__input" type="text" id="name" placeholder="Ingrese el nombre del video">
            
            <label class="form__label" for="link">Video</label>
            <input class="form__input" type="url" id="link" placeholder="Ingrese el Link del Video">
            
            <label class="form__label" for="thumbnail">Miniatura del Video</label>
            <input class="form__input" type="url" id="thumbnail" placeholder="Ingrese la Miniatura del Video">
            
            <label class="form__label" for="img">Miniatura del Canal</label>
            <input class="form__input" type="url" id="img" placeholder="Ingrese la Imagen del Canal">
            
            <label class="form__label" for="autor">Nombre del Canal</label>
            <input class="form__input" type="text" id="autor" placeholder="Ingrese el nombre del Canal">

            <label class="form__label" for="views">visualizaciones</label>
            <input class="form__input" type="text" id="views" placeholder="Ingrese el Número de Visualizaciones del video">
                            
            <label for="category">Categoría</label>
            <select class="form__select" id="category">
                <option value="">Seleccione un opción</option>
                <option value="games">Videojuegos</option>
                <option value="developer">Programación</option>
                <option value="movies">Peliculas</option>
            </select>
            <button class="form__submit" type="submit">Agregar video</button>
            
        </form>
    </main>
    
    <script src="../JS/videoForm.js" type="module"></script>
</body>
</html>
